<form class="custom-form hero-form" action="#" method="get" role="form">
    {% csrf_token %}
    <h3 class="text-white mb-3">Search your dream job</h3>
    
    <div class="row">


     




        <div class="col-lg-6 col-md-6 col-12">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="bi-person custom-icon"></i></span>

                <input type="text" name="job-title" id="job-title" class="form-control" placeholder="Username" required>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="bi-geo-alt custom-icon"></i></span>

                <input type="text" name="job-location" id="job-location" class="form-control" placeholder="Location" required>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="bi-cash custom-icon"></i></span>

                <select class="form-select form-control" name="job-salary" id="job-salary" aria-label="Default select example">
                    <option selected>Salary Range</option>
                    <option value="1">$300k - $500k</option>
                    <option value="2">$10000k - $45000k</option>
                </select>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="bi-laptop custom-icon"></i></span>

                <select class="form-select form-control" name="job-level" id="job-level" aria-label="Default select example">
                    <option selected>Level</option>
                    <option value="1">Internship</option>
                    <option value="2">Junior</option>
                    <option value="2">Senior</option>
                </select>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="bi-laptop custom-icon"></i></span>

                <select class="form-select form-control" name="job-remote" id="job-remote" aria-label="Default select example">
                    <option selected>Remote</option>
                    <option value="1">Full Time</option>
                    <option value="2">Contract</option>
                    <option value="2">Part Time</option>
                </select>
            </div>
        </div>

        <div class="col-lg-12 col-12">
            <button type="submit" class="form-control">
                Search job
            </button>
        </div>

        <div class="col-12">
            <div class="d-flex flex-wrap align-items-center mt-4 mt-lg-0">
                <span class="text-white mb-lg-0 mb-md-0 me-2">Popular keywords:</span>

                <div>
                    <a href="{% url 'register_pg' %}" class="badge">Web design</a>

                    <a href="{% url 'register_pg' %}" class="badge">Marketing</a>

                    <a href="{% url 'register_pg' %}" class="badge">Customer support</a>
                </div>
            </div>
        </div>





    </div>
</form>